@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";

$lavender: hsl(275, 20%, 50%);
$lavender-dark: hsl(275, 20%, 40%);
$primary: $lavender;
$scheme-main: hsl(275, 5%, 15%);
$scheme-main-bis:hsl(275, 5%, 12%);
$scheme-main-ter:hsl(275, 5%, 15%);;
$body-background-color: hsl(275, 5%, 10%);

$scheme-invert: hsl(275, 5%, 00%);

$text: hsl(0, 0%, 80%);
$text-strong: hsl(0, 0%, 90%);
$background: hsl(275, 5%, 10%);
$body-color: hsl(0, 0%, 80%);

@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/elements/_all";
@import "../node_modules/bulma/sass/components/_all";
@import "../node_modules/bulma/sass/grid/_all";
@import "../node_modules/bulma/sass/layout/_all";

.o-ctrl-sel{
	width:100%;
}

.o-field__label{
	color: $text-strong;
}

.o-switch__check--checked{
	background: $lavender;
}

.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover {
	background-color: $lavender;
}

.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover:nth-child(even) {
	background-color: $lavender-dark;
}

.o-btn{
	background-color: $lavender;
}

.o-btn:active{
	background-color: $lavender-dark;
}

.o-icon.o-input__icon-right{
	color:#222;
}

.o-icon--danger {
	color: #b60000 !important;
}

@media screen and (min-width: 769px) {
	.column.is-one-quarter, .column.is-one-quarter-tablet{
		border-right: 1px solid #222;
		border-bottom: 0px solid #222;
	}
}
@media screen and (max-width: 769px){
	.column.is-one-quarter, .column.is-one-quarter-tablet{
		border-bottom: 1px solid #222;
		border-right: 0px solid #222;
	}
}
